body{
    font-size: 18px;
}


.py-4 {
    background: rgb(240, 240, 240);
}


.chat-row{
    margin: 50px;
}

.chat-user-list{
    list-style: none;
}

.name-image {
    width: 45px;
    height: 45px;
    color: #ffffff;
    border-radius: 50%; 
    font-weight: bold;
    display: flex; /* Updated */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-transform: uppercase; /* Optional: transform text to uppercase */
}
.chat-image {
    position: relative;
}

.chat-image, .chat-name {
    display: inline-block;   
    
}
 
.chat-user-list{
    margin-bottom: 8px;
    padding: 5px;
    height: 55px;
}

.chat-user-list.active{
    background: #e4e4e4;
}

.user-status-icon{
    position: absolute;
    top: 30px;
    left: 30px;
    color: grey;
}

.font-weight-bold{
    font-weight: bold;
}

.text-grey-500 {
    font-weight: normal;
    color: grey;
    font-size: 14px;
}

.chat-header {
   min-height: 60px;
   padding: 10px;
   margin-bottom: 2px;
   background: #ffffff; 
}

.chat-body {
    height: calc(100vh - 375px);
    background: #ffffff;
    padding: 30px 50px;
    margin-bottom: 20px;
    position: relative;
}

.message-text {
    margin-left: 50px;
    margin-top: -10px;   
}

.chat-input {
   border: 1px solid lightgray;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   padding: 8px 10px; 
}

.chat-input-toolbar {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 8px 10px;
}

.chat-input-toolbar .tool-items{
    margin-right: 5px; 
    opacity: 0.3;
}